  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400');
  :root{
    --background-color: #E2DEE9;
    --primary-color: #4A3AFF;
    --primary-color2: #7749F8;
    --gray-color: #c8c1d5;
    --header-color: #e1d7f6;
}

body{
    background-color: var(--background-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

   /* hidding the arrow form the input box */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}